<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MMXXTCF');</script>
    <!-- End Google Tag Manager -->
</head>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MMXXTCF"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
<div class="entertainment">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
    <div class="mobilebanner">
        <img src="{{banner}}" />
    </div>
    <!-- <div id="local" class="maincontainer free" style="background: url('{{banner}}');">
        <div class="middle">
            <div class="content">
                <div class="left">
                    &#10094;
                </div>
                <div class="empty">

                </div>
                <div class="info">
                </div>
                <div class="right">
                    &#10095;
                </div>
            </div>
        </div>
    </div> -->
    <app-back></app-back>
    <!-- <div id="local" class="back">
        <div id="local">
            <a id="local" href="{{previousUrl}}">
                <i id="local" class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
        </div>
    </div> -->
    <div class="cont">
        <div class="row">
            <div style="background:#000;">
                <h3 style="margin:0; padding:10px; color:#fff">Avvatta Challenges</h3>
                <div>
                    <script async type="text/javascript" src="//asset.fwcdn2.com/js/embed-feed.js"></script>
    <fw-embed-feed
      channel="avvatta"
playlist="gKzXko"
      mode="row"
      open_in="default"
      max_videos="0"
      placement="middle"
      player_placement="bottom-right"
      branding="false"
      size="medium"                 
    ></fw-embed-feed>
                </div>

            </div>
            <div style="background:#000;">
                <h3 style="margin:0; padding:10px; color:#fff">Africa</h3>
                <div id="africa"></div>

            </div>
            <div style="background:#000;">
                <h3 style="margin:0; padding:10px; color:#fff">Beauty and Fashion</h3>
                <div id="beauty"></div>

            </div>
            <div style="background:#000;">
                <h3 style="margin:0; padding:10px; color:#fff">Cars and Automotive</h3>
                <div id="cars"></div>

            </div>
            <div style="background:#000;">
                <h3 style="margin:0; padding:10px; color:#fff">Comedy</h3>
                <div id="comedy"></div>

            </div>
            <div style="background:#000;">
                <h3 style="margin:0; padding:10px; color:#fff">Animals and Pets</h3>
                <div id="animal"></div>

            </div>
            <div style="background:#000;">
                <h3 style="margin:0; padding:10px; color:#fff">Entertainment</h3>
                <div id="entertainment"></div>

            </div>
            <div style="background:#000;">
                <h3 style="margin:0; padding:10px; color:#fff">Environment</h3>
                <div id="environment"></div>

            </div>
            <div style="background:#000;">
                <h3 style="margin:0; padding:10px; color:#fff">Food</h3>
                <div id="food"></div>

            </div>
            <div style="background:#000;">
                <h3 style="margin:0; padding:10px; color:#fff">Gaming</h3>
                <div id="game"></div>

            </div>
            <div style="background:#000;">
                <h3 style="margin:0; padding:10px; color:#fff">Sport</h3>
                <div id="sport"></div>

            </div>
            <div style="background:#000;">
                <h3 style="margin:0; padding:10px; color:#fff">Technology</h3>
                <div id="tech"></div>

            </div>
            <div style="background:#000;">
                <h3 style="margin:0; padding:10px; color:#fff">Travel</h3>
                <div id="travel"></div>

            </div>
        </div>
    </div>

</div>